.footer--access{
display: flex;
position: absolute;
align-items: center;
justify-content: center;
bottom: 0px;
width: 100%;
padding: 16px;
gap: 16px;

a{
font-weight: 400;
font-size: 12px;
}
span{
color: #A3A3A3;
}

}